<main>
    <section class="container mx-auto text-center">
        <h1 class="fw-light">Fotos de Ajedrez</h1>
        <p class="lead text-body-secondary">
            Vota por las fotos que más te gusten
        </p>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/ajedrez1.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj2.jpeg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj3.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj4.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj5.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj6.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj7.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj8.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-64">
                    <div class="bg-white rounded-lg shadow-sm">
                        <img
                            src="./assets/images/aj9.jpg"
                            alt="ajedrez imagen"
                            class="w-full"
                        />
                        <div class="p-4">
                            <div class="card-actions">
                                <div class="btn-group">
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Like
                                    </button>
                                    <button
                                        type="button"
                                        class="card-uoc"
                                    >
                                        Hate
                                    </button>
                                </div>
                                <small class="text-gray-500">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
